pandas
numpy==1.26.4
scikit-learn
xgboost
lightgbm
transformers
torch
datasets

psycopg2-binary
sqlalchemy
spacy


streamlit
fastapi
uvicorn

mlflow
dvc

evidently==0.4.16
shap

matplotlib
seaborn
plotly
python-dotenv
ipykernel
pyyaml